.dropbtn {
    background-color: #a59c24;
    color: rgb(65, 62, 62);
    padding: 16px;
    font-size: 5px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #585353;
    width: 500px;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
    text-align: center;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


    #updateForm input[type=text],label ,textarea{
    width: 300px;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  #updateForm button {
    width: 300px;
    background-color: #000000;
    display: inline-block;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
  }

  .button2{
    width: 400px;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    border:none;
    margin-bottom: 10px;
  }

  input[type=text],label{
    width: 75%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  button[type=submit] {
    width: 75%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #selectBook{
    width: 300px;
    font-size: 20px;
}

.divBook{
  display: grid;
  place-items: center;
  gap: 10px;
  padding-top: 10px;
  color: black;
  padding-bottom: 20px;
}

.divBook img{
  width: 200px;
  height: 200px;
}

.header2{
  padding: 20px;
  font-size: 30px;
}

.searchForm{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px 50px;    
}

#button_form{
 display:grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr;   
 place-items: center;
}

#form{
  display:grid;
  place-items: center;
  margin-top: 40px;
}

.updateData{
  display:grid;
  place-items: center;
}

.ViewDetails{
  color: white;
  width: 300px;
  background: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}